data/xsd/actes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:act="http://www.univ-grenoble-alpes.fr/l3miage/actes"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/actes"
        elementFormDefault="qualified"
        >
    
    <!-- elem racine -->
    <element name="ngap" type="act:Ngap"/>
    
    <complexType name="Ngap">
        <sequence>
            <element name="types" type="act:Types"/>
            <element name="actes" type="act:Actes"/>
        </sequence>
    </complexType>


    <!-- Types -->
    <complexType name="Types">
        <sequence>
           <element name="type" type="act:Type" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- Actes -->
    <complexType name="Actes">
        <sequence>
           <element name="acte" type="act:Acte" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!-- Type -->
    <complexType name="Type">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="string"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- Acte -->
    <complexType name="Acte">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="int"/>
                <attribute name="type" type="string"/>
                <attribute name="clé" type="act:typeCle"/>
                <attribute name="coef" type="float"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- Enumeration des types de cles -->
    <simpleType name="typeCle">
        <restriction base="string">
            <enumeration value="AMI"/>
            <enumeration value="AIS"/>
            <enumeration value="DI"/>
        </restriction>
    </simpleType>
    
    
</schema>