data/xsd/cabinet.xsd

<?xml version="1.0"?>
<schema xmlns:med="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        elementFormDefault="qualified">
    <element name="cabinet" type="med:Cabinet"/>
    
    <!--                                                              commentaires/spécifications à ajouter                                                                           -->
    
    <complexType name="Cabinet">
        <sequence>
            <element name="nom" type="string"/>
            <element name="adresse" type="med:Adresse"/>
            <element name="infirmiers" type="med:Infirmiers"/>
            <element name="patients" type="med:Patients"/>
        </sequence>
    </complexType>
    
    <complexType name="Adresse">
        <sequence>
            <element name="etage" type="int" minOccurs="0"/> <!-- int >= 0 -->
            <element name="numero" type="int"/> <!-- int > 0 -->
            <element name="rue" type="string"/>
            <element name="codePostal" type="med:CodePostal"/>
            <element name="ville" type="string"/>
        </sequence>
    </complexType>
    
    <simpleType name="CodePostal">
        <restriction base="string">
            <pattern value="[0-9]{5}"/>
        </restriction>
    </simpleType>

    <complexType name="Infirmiers">
        <sequence>
            <element name="infirmier" type="med:Infirmier" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <complexType name="Infirmier">
        <sequence>
            <element name="nom" type="string"/> <!-- pas de type spécial car trop d'exception (ex: "Émilie" commence pas par [A-Z], ou "Jean-Paul II" est inconvénient) -->
            <element name="prenom" type="string"/> <!-- de même que nom -->
            <element name="photo" type="string"/> <!-- une restriction "*.???" ne me semble ni nécéssaire ni prudent (selon les extensions et OS) -->
        </sequence>
        <attribute name="id"/>
    </complexType>

    <complexType name="Patients">
        <sequence>
            <element name="patient" type="med:Patient" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <complexType name="Patient">
        <sequence>
            <element name="nom" type="string"/> <!-- pareil que plus haut -->
            <element name="prenom" type="string"/> <!-- de même que nom -->
            <element name="sexe" type="med:Sexe"/>
            <element name="naissance" type="date"/>
            <element name="numeroSecu" type="med:NumeroSecu"/>
            <element name="adresse" type="med:Adresse"/>
            <element name="visite" type="med:Visite" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <simpleType name="Sexe">
        <restriction base="string">
            <enumeration value="M"/>
            <enumeration value="F"/>
        </restriction>
    </simpleType>
    
    <simpleType name="NumeroSecu">
        <restriction base="string">
            <pattern value="[123478][0-9]{5}[0-9AB][0-9]{8}"/> <!--                         pas sûr                            -->
        </restriction>
    </simpleType>
    
    <complexType name="Visite">
        <sequence>
            <element name="acte" type="med:Acte" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="date" type="date"/>
        <attribute name="intervenant"/>
    </complexType>
    
    <complexType name="Acte">
        <attribute name="id"/>
    </complexType>
</schema>