data/xsd/cabinet_omar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:cab="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        elementFormDefault="qualified"
>
    <!-- Element racine -->
    <element name="cabinet" type="cab:Cabinet"/>
    
    <!-- Type de la racine  -->
    <complexType name="Cabinet">
        <sequence>
            <element name="nom" type="string"/>
            <element name="adresse" type="cab:Adresse"/>
            <element name="infirmiers" type="cab:Infirmiers"/>
            <element name="patients" type="cab:Patients"/>
        </sequence>
    </complexType>
    
    <!-- Adresse -->
    <complexType name="Adresse">
        <sequence>
            <element name="étage" type="positiveInteger" minOccurs="0"/>
            <element name="numéro" type="positiveInteger" minOccurs="0"/> 
            <element name="rue" type="string"/>
            <element name="codePostal" type="cab:CodePostal"/>
            <element name="ville" type="string"/>
        </sequence>
    </complexType>

    <!-- Infirmiers -->
    <complexType name="Infirmiers">
        <sequence>
            <element name="infirmier" type="cab:Infirmier" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="Infirmier">
        <sequence>
            <element name="nom" type="string"/>
            <element name="prénom" type="string"/>
            <element name="photo" type="cab:Photo"/>
        </sequence>
        <!-- TODO: faudra vérifier l'uniciter de l'id (bien sur ça sera en dehors de ce type..) -->
        <attribute name="id" type="positiveInteger"/>
    </complexType>

    <!-- Patients -->
    <complexType name="Patients">
        <sequence>
            <element name="patient" type="cab:Patient" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="Patient">
        <sequence>
            <element name="nom" type="string"/>
            <element name="prénom" type="string"/>
            <element name="sexe" type="cab:Sexe"/>
            <element name="naissance" type="date"/>
            <element name="numéro" type="cab:NuméroSecuritéSociale"/>
            <element name="adresse" type="cab:Adresse"/>
            <element name="visite" type="cab:Visite" maxOccurs="unbounded"/> <!-- TODO: Unicité des visites -->
        </sequence>
    </complexType>

    <!-- Visite -->
    <complexType name="Visite">
        <sequence>
            <!-- une visite peut avoir plusieurs actes -->
            <element name="acte" type="cab:Acte" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="intervenant" type="string"/> <!-- TODO: contrainte d'appartenance à Infirmier.id -->
        <attribute name="date" type="date" use="required"/>
    </complexType>

    <!-- Acte -->
    <complexType name="Acte">
        <attribute name="id" type="string"/> <!-- TODO: contrainte d'appartenance à Acte.id -->
    </complexType>
    
    <!-- SIMPLE TYPES -->

    <!-- CodePostal -->
    <simpleType name="CodePostal">
        <restriction base="string">
            <pattern value="\d{5}"/>
        </restriction>
    </simpleType>
    
    <!-- Photo -->
    <simpleType name="Photo">
        <restriction base="string"/> <!-- a modifier éventuellement -->
    </simpleType>

    <!-- Sexe -->
    <simpleType name="Sexe">
        <restriction base="string">
            <enumeration value="M"/>
            <enumeration value="F"/>
        </restriction>
    </simpleType>

    <!-- NuméroSecuritéSociale -->
    <simpleType name="NuméroSecuritéSociale">
        <restriction base="string">
            <pattern value="[12]\d{2}([1][0-2]|[0][1-9])\d{5}\d{3}\d[1-7]"/>
        </restriction>
    </simpleType>
    
    
</schema>